* {
    -fx-font-family:  "Arabic Typesetting"
 }

/* Start Title Header Style */


.title-header 
{
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, #2196f3 50%);
    -fx-font-family: Arabic Typesetting;
    -fx-font-size: 36px;
}


/* End Title Header Style */

/* Start Button Style */

#required-Lable {
    -fx-font-family: "Arabic Typesetting";
        -fx-font-size: 27px;
        -fx-font-weight: bold;
        -fx-text-fill: red;
}


.JFXButton {
 -fx-font-family: "Arabic Typesetting";
 -fx-font-weight: bold;
    -fx-background-color: #2196f3;
    -fx-text-fill: white;
    -fx-cursor: hand;

}JFXButton:hover {
    -fx-background-color: white;
    -fx-text-fill: #2196f3;
    -fx-border-color: #2196f3;

}

.JFXButton:pressed {
    -fx-background-radius: 22;
    -fx-font-weight: bold;
    -fx-background-color: white;
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;

    }


.btn-smaller {
    -fx-background-radius: 22;
    -fx-font-size: 12;
}

.btn-smaller:hover {
    -fx-background-radius: 22;
    -fx-font-size: 12;
    -fx-border-radius: 22;
    -fx-border-width: 2;
}

.btn-smaller:pressed {
    -fx-font-size: 12;
    -fx-border-radius: 22;
    -fx-border-width: 2;
}

.btn-medium {
    -fx-background-radius: 22;
    -fx-font-size: 20;
    -fx-border-radius: 24;
    -fx-border-width: 3;
}

.btn-medium:hover {
    -fx-background-radius: 22;
    -fx-font-size: 20;
    -fx-border-radius: 24;
    -fx-border-width: 3;
}

.btn-medium:pressed {
    -fx-font-size: 20;
    -fx-border-radius: 24;
    -fx-border-width: 3;
}

 /* Button Style 2 */

.btn-view {
    -fx-cursor: hand;
    -fx-background-color: #FFF;
    -fx-text-fill: #000;
    -fx-font-weight: normal;
    -fx-border-color: #2196f3;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-border-style: solid;
    -fx-font-size: 24px;
    -fx-background-radius: 10px;
}


btn-view:hover {
    -fx-background-color: #FFF;
    -fx-text-fill: #000;
}

/* End Button Style */

/* Start Combo Box */


.combo-smaller {
    -fx-font-size: 16px;
}

.combo-medium {
    -fx-font-size: 18px;
}

.combo-medium:hover {
    -fx-cursor: hand;
}

/* End Combo Box */

/* Start Text Field */


.field {
    -fx-font-size: 18px;
}
.field-smaller {
    -fx-font-size: 15px;
}

/* End Text Field */

DatePicker {
    -fx-font-size: 16px;
}

/* Start SnackBar */


.jfx-snackbar-content {
    -fx-background-color: #F00;
    -fx-pref-width: 423;
}

.jfx-snackbar-toast {
    -fx-text-fill: #FFF;
    -fx-font-size: 18px;
    -fx-font-family: "Arabic Typesetting";
}
/* End SnackBar */

/* Start Icon Close */
    

.icon-close:hover {
    -fx-cursor: hand;
    -fx-fill: #FF3D22;
}

/* End Icon Close */


/* Start error label */


#errorLabel {
    -fx-text-fill: #F00;
    -fx-font-size: 25px;
}


#VertiBox{
    -fx-background-color: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, #9e5eff 50%);
}


#headtitle {
  -fx-text-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, #2196f3 50%);
    -fx-font-family: Arabic Typesetting;
    -fx-font-size: 40px;

    }

/* End error label */


.titleUserLabel {
    /* This style for the name of user showing in dialog of stat */
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, #2196f3 50%);
    -fx-font-size: 16px;
}


.label {
    -fx-font-family: "Arabic Typesetting";
    -fx-font-size: 27px;
    -fx-font-weight: bold;
    -fx-text-fill: linear-gradient(#131313 50.0%, #2196F3 130.0%);
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}