//Style of entire tableView
.table-view{
    /*-fx-background-color: transparent;*/
}

//Style of entire tableView when is getting focused
  .table-view:focused{
      -fx-background-color: red;
  }



//Style of each column header in the tableView
  .table-view .column-header {
      -fx-background-color: transparent;
  }

//Style of each column header's background in the tableView
.table-view .column-header-background{
    -fx-background-color: linear-gradient(#131313 0.0%, #424141 100.0%);
}

//Style of each column header's label  in the tableView
.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-font-weight:bold;
    -fx-text-fill: red;
}

//Style of each column in the tableView
  .table-view .table-column{
      -fx-alignment:center;
  }

//Style of each table cell
  .table-view .table-cell{
      -fx-font-weight:bold;
      -fx-font-size:15px;           //the font size you asked in the comments below
      /* -fx-text-fill:orange; */

  }


//Style for each < n on odd> row of table view
/* .table-row-cell{
    -fx-background-color: white;
    -fx-background-insets: 0.0, 0.0 0.0 1.0 0.0;
    -fx-padding: 0.0em;
}

//Style for each <odd> row of table view
.table-row-cell:odd{
    -fx-background-color: orange;
    -fx-background-insets: 0.0, 0.0 0.0 1.0 0.0;
    -fx-padding: 0.0em;
}
*/

//Style of each entire row in the table view
  .table-row-cell:selected {
      /* -fx-border-color:transparent firebrick transparent firebrick  ;
       -fx-border-width:2.0; */
  }


//Style of each entire row in the table view when is hovered
  .table-row-cell:hover {
      -fx-background-color:orange;
  }

//Style of each entire row in the table view when is getting focused
  .table-row-cell:focused {
      -fx-background-color:purple;
  }

.jfx-text-field
{
    -jfx-focus-color: #4eb769;
    /*-jfx-unfocus-color: #fffd8c; doesn't work*/

}

.text-field
{
    -fx-prompt-text-fill: #fffd8c; /*Yellow - floating label*/
    -fx-text-fill: #f01d6a; /*Yellow - input color*/
    -fx-highlight-fill: #4eb769; /*Green*/
}
/*
.text-field .input-line
{
    -fx-background-color: #fffd8c; /*Yellow - bottom bar*/
}*/