{
    -fx-primary : #2A2E37;
    -fx-secondary : #FFFF8D;
    -fx-primarytext : #B2B2B2;
    -fx-blue: #1976D2;
    -fx-red: #FF0000;
    -fx-color-1:#1976D2;
}

.event-label {
    -fx-font: 13px "System";
    -fx-background-color: white;
    -fx-border-width:1.5;
    -fx-padding: 2px;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-border-color: #333;
    -fx-padding: 2px;
    -fx-text-fill: white;
    -fx-background-insets: 2px;
}

.button{
    -fx-font-weight : bold;
    -fx-background-color : #725b53;
    -fx-text-fill : white;
    -fx-font-size : 16;
}

.button:hover{
    -fx-font-weight : bold;
    -fx-background-color: #4caf50;
    -fx-text-fill: white;
}

.button-abort:hover{
    -fx-font-weight : bold;
        -fx-background-color: #c41c00;
        -fx-text-fill: white;
}

.titleUserLabel {
    /* This style for the name of user showing in dialog of stat */
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, #725b53 50%);
    -fx-font-size: 16px
}
